/* Stylesheet for Basic and Phone Width Devices */

html {
	height: 					100%;
	width:						100%;
}

body {
	height: 					100%;
	background:					#80c0fe url(../img/sky-background.jpg) no-repeat center center fixed;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	-o-background-size: 		cover;
	background-size: 			cover;
	min-height:					100%;
}

.page {
	position: relative;
	min-height: 100%;
	overflow:hidden;
}

/* Header */
.header {
	font-family: 'Crimson Text', Georgia, "Times New Roman", Times, serif;
	margin: 15px 0;
}
.header .header-top {
	display: none;
}
.header .navbar {
	border: 0;
	margin: 0;
	background: rgb(12, 0, 74);
}
.header .navbar .navbar-brand {
	padding: 12px 10px;
}
.header .navbar .navbar-brand img {
	height: 25px;
}
.header .navbar-nav>li>a {
	color: #03CC30;
}
.header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>li>a:hover, .header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.dropdown.open>a {
	color: #03cc30;
	background-color: #0d004c;
}
.header .dropdown-menu {
	border: 1px solid #0d004c;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #060;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #03cc30;
	background-color: #0d004c;
}

/* Content */
.content {
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 75px;
	padding: 10px;
}
.content h1 {
	color: #090;
	text-align: center;
	font-family: 'Crimson Text', Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	margin-top: 1px;
	margin-bottom: 10px;
	font-weight: 600;
}
.content h2 {
	color: #006600;
	font-family: 'Crimson Text', Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 600;
}
.content h3 {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
}
.content a {
	color: #009900;
	text-decoration: none;
}
.content a:hover {
	color: #006600;
	text-decoration: underline;
}
.content hr, div.hr {
	background-color: #0D004C;
	height: 2px;
}

/* Footer */
.footer {
    overflow: hidden;
    width: 100%;
    height: 80px;
    color: #FFF;
	background-image: url(../img/grass-border.png);
	background-position: bottom;
	background-repeat: repeat-x;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 10;
	position: relative;
	margin: -80px auto 0 auto;
	clear: both;
}
.footer p {
	margin-bottom: 0;
	font-size: 10px;
	line-height: normal;
}
	
.footer a {
	color: #99ffcc;
	text-decoration: none;
}
	
.footer a:hover {
	color: #ccffcc;
	text-decoration: underline;
}
	
.footer-contain {
	margin-top: 20px;
}

/* Page Styles */
.carousel .carousel-inner a {
	display: block;
}
.content .item img, .img-border {
	border: #090 4px solid;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 2px;
}
.img-group {
	margin-bottom: 10px;
}
.img-group img {
	max-height: 200px;
	border: #090 4px solid;
}
.img-aside-sm {
	width: 100%;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-left-15 {
	margin-left: 15px;
}
.padding-top-0, .form-horizontal .padding-top-0 {
	padding-top: 0;
}

/* Calendar */
.calendar>thead>tr>th {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.calendar td {
	width: 14.284%;
	height: 50px;
}
.calendar td.not-this-month {
	color: #ccc;
}
.calendar td.has-event {
	cursor: pointer;
}
.calendar td.has-event strong {
	color: #006600;
}
.calendar td.has-event strong:hover {
	color: #009900;
	text-decoration: underline;
}
.calendar td .cal-event {
	display: none;
}

/* Modal Syling */
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.5);
}
.featherlight .featherlight-content {
	padding: 35px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 30px auto;
	vertical-align: top;
}
.featherlight .featherlight-close-icon {
	font-weight: 700;
	opacity: .2;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 1;
	width: auto;
	top: 15px;
	right: 15px;
}
.featherlight .featherlight-close-icon:hover {
	opacity: .5;
}
button.close {
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
.modal .date-info strong.day-count {
	display: none;
}
.modal .date-info .cal-event {
	margin-bottom: 10px;
}
.modal .date-info .cal-event .event-title {
	font-weight: bold;
}
/* Animation */
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.1s ease-out !important;
    -o-transition: all 0.1s ease-out !important;
    transition: all 0.1s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transition: all ease-in !important;
    -moz-transition: all 0.1s ease-in !important;
    -o-transition: all 0.1s ease-in !important;
    transition: all 0.1s ease-in !important;
    /*-webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;*/
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* Admin */
.input-group[class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
}


