@use 'mixins' as *;
nav.navbar a {
  font-size: 16px;
  font-weight: normal;
  @include bp-lg-laptop {
    padding-left: 9px;
    padding-right: 9px;
  }
  @include bp-xl-desktop {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-weight: bold;
  }
}