@import 'https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i';
@import 'mixins';
@import 'variables';
@import 'bootstrap';
@import 'font-awesome';

/* Body Styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
    font-family: 'Lato', sans-serif;
    color: $black;
    @media (min-width: $screen-md-min) {
        font-size: 16px;
    }
    background: #CCC;
}
.page {
    @include page-width();
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    background: #FFF;
    @media (min-width: $screen-sm-min) {
        padding: 25px;
    }
    .corner-art {
        position: absolute;
        height: 25px;
        width: 25px;
        @media (min-width: $screen-sm-min) {
            height: 50px;
            width: 50px;
        }
        &.top-left {
            top: 5px;
            left: 5px;
            background: url('/img/corner-art-top-left.svg') no-repeat;
            background-size: contain;
        }
        &.top-right {
            top: 5px;
            right: 5px;
            background: url('/img/corner-art-top-right.svg') no-repeat;
            background-size: contain;
        }
        &.bottom-left {
            bottom: 5px;
            left: 5px;
            background: url('/img/corner-art-bottom-left.svg') no-repeat;
            background-size: contain;
        }
        &.bottom-right {
            bottom: 5px;
            right: 5px;
            background: url('/img/corner-art-bottom-right.svg') no-repeat;
            background-size: contain;
        }

    }
}
.content {
    > h1:first-child {
        margin-top: 0;
        @media (min-width: $screen-sm-min) {
            margin-bottom: 30px;
        }
    }
}

/* Typography */
h1 {
    font-family: 'Cardo', serif;
}
h2 {
    font-family: 'Cardo', serif;
}
h3 {
    font-family: 'Cardo', serif;
}