@import 'https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i';
@import 'mixins';
@import 'variables';
@import 'bootstrap';
@import 'font-awesome';

/* Body Styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
    font-family: 'Lato', sans-serif;
    color: $black;
    @media (min-width: $screen-md-min) {
        font-size: 16px;
    }
}
.page {
    @include page-width();
    padding: 15px;
    @media (min-width: $screen-sm-min) {
        position: relative;
    }
}
.content {
    > h1:first-child {
        margin-top: 0;
        @media (min-width: $screen-sm-min) {
            margin-bottom: 30px;
        }
    }
}

/* Typography */
h1 {
    font-family: 'Cardo', serif;
}
h2 {
    font-family: 'Cardo', serif;
}
h3 {
    font-family: 'Cardo', serif;
}